.hero {
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-iPhone16 {
  background-image: url('../images/hero-1.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 580px;
}

.headline {
  line-height: 1.17865;
  letter-spacing: 0em;
  font-size: 50px;
  margin-top: 20px;
  font-weight: 500;
}

.subhead {
  font-size: 28px;
  font-weight: 400;  
  line-height: 1.25;
  margin: 0px;

}

.button-wrap{
  display: flex;
  margin: 10px 0;
  gap: 15px;
}

.ctaLinks {
  border-radius: 999px;
  background-color: #0071e3;
  color: #fff;
  font-size: 17px;
  padding: 11px 21px;
  border: 1px solid #0071e3;
  line-height: 1.17648;
  font-weight: 400;  
  text-decoration: none !important;

}

.shopping {
  background-color: #fff;
  color: #0071e3;
}

.shopping:hover {
  background-color: #0071e3;
  color:#fff !important;
}

.look-more-btn:hover {
  color: #fff;
}

.ai-gradient {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.28;
}

.callout {
  font-size: 14px;
  line-height: 1.35;
}

.hero-TradeIn {
  background-image: url('../images/hero-2.jpg');
  background-size:cover;
  background-position: center bottom  ;
  background-repeat: no-repeat;
}

.section2-logo {
  margin-top: 30px;
}

.callout2 {
  font-size: 19px;
  color:#6e6e73;
  margin-top: 8px;
}

.hero-iPadPro {
  background-image: url('../images/hero-3.jpg');
  background-size:cover;
  background-position: center bottom  ;
  background-repeat: no-repeat;
  background-color: black;
  color: #fff;
  justify-content: space-between;
}

.main-section3-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
}

.main-section3-head > .headline {
  margin-top: 40px;
}

.hero-iPadPro-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
